body {
	font-family: arial;
	font-size: 15px;
	line-height: 1.6em;
	
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

label{
	display: inline-block;
	width: 180px;
}

input[type='text']{
	width: 97%;
	padding: 4px;
	border-radius: 5px;
	border:1px #ccc solid;
}

input[type='number']{
	width: 50px;
	padding: 4px;
	border-radius: 5px;
	border:1px #ccc solid;
}

.container{
	width: 60%;
	margin: 0 auto;
	overflow: auto;
}

header{
	border-bottom: 3px #272726 solid;
	background: #3A3A36;
	color: White;
}

a.add {
	display: inline-block;
	color: #666;
	background: #f4f4f4;
	border-left: 7px #272726 solid;
	padding:6px 13px;
	position: right;
}

footer{
	border-top: 3px #272726 solid;
	background: #3A3A36;
	color: #BBBBB9;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

main{
	padding-bottom: 20px;
	background: #61615E;
	color: white;
}


a.start{
	display: inline-block;
	color: #000000;
	background: #99CC00;
	border-left: 7px #272726 solid;
	padding:6px 13px;
}

.current{
	padding:10px;
	background: #8D8D8B;
	border-left: 10px #272726 solid;
	margin: 20px 0 10px 0;
}
textarea {
  font-size: 24px;
  border:10px solid black;
  padding: 2rem 1rem;
  min-height: 3em;
  resize: both;
  background: #ffd73e33;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

@media only screen and (max-width: 960px){
	.container{
		width: 60%;
	}
}
